
<div class="container">
  <h2 class="page-header">Contacts</h2>
  <div class="row">
    <div class="col">
      <form [formGroup]="form" (ngSubmit)="createContact()">
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" class="form-control" formControlName="first_name" placeholder="First Name">
        </div>

        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input type="text" class="form-control" formControlName="last_name" placeholder="Last Name">
        </div>

        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="text" class="form-control" formControlName="phone" placeholder="Phone Number">
        </div>

        <button type="submit" class="btn btn-outline-success">Submit</button>
      </form>
    </div>
  </div>
</div>



<div class="container">
  <h2 class="page-header">Contacts</h2>
  <div class="row">
    <div class="col-3">
       First Name
    </div>

    <div class="col-3">
      Last Name
    </div>

    <div class="col-3">
      Phone
    </div>

    <div class="col-3">
      Delete
    </div>
  </div>
  <div class="row" *ngFor="let p of contacts">
    <div class="col-3">
      {{p.first_name}}
    </div>
    <div class="col-3">
      {{p.last_name}}
    </div>
    <div class="col-3">
      {{p.phone}}
    </div>
    <div class="col-3">
      <button type="button" (click)="delete(p._id)" class="btn btn-outline-danger">Danger</button>
    </div>
  </div>
</div>
